In [ ]:
#AREA OF TRIANGLE
i=float(input('ener radius'))
def area(a):
     pi=3.14
     area=pi*(a**2)
     return area
area(i)

In [ ]:
 #ASCII VALUE
 t=input('enter key ')
 def ascii_value(A):
     value=ord('A')
     return value
 ascii_value(t)

In [ ]:
 # celcius to fahrenheit
 a=float(input('enter celcius'))
def fahrenheit(c):
    f=c*(1.8)+32
    return f
fahrenheit(a)
50

In [ ]:
#SWAPPING VALUE OF TWO VARIABLES
a=input('enter first value')
b=input('enter second value')
def swap(a,b):
    a,b=b,a
    return a,b
swap(a,b)

In [ ]:
#EVEN OR ODD
 a=int(input('enter first value'))
 def acheck(a):
     if a%2==0:
         print('even')
     else:
         print('odd')

In [ ]:
 #VOWEL OR CONSONANT
 a=input('enter alphabet')
 a=a.lower()
 def check(a):
     if a in 'aeiou' :
       print('vowel')
     else:
         print('consonant')

 if a.isalpha() and len(a)==1:
     check(a)

In [ ]:
 #LARGEST OF 3 NUMBERS
a=int(input('enter first value'))
b=int(input('enter second value'))
c=int(input('enter third value'))
def larger(a,b,c):
  if a>c and a>b:
      print(a)
  elif b>a and b>c:
      print(b)
  else:
      print(c)
larger(a,b,c)

In [ ]:
 #LEAP YEAR OR NOT
 a=int(input('enter year'))
 def check(a):
     if a%4==0:
         print('leap year')
     else:
         Print('normal year')
 check(a)

In [ ]:
 a=int(input('enter value'))
 def check(a):
     if a>0:
         print('positive')
     elif a<0:
         print('negative')
     else:
         print('zero')
 check(a)

In [ ]:
 # ROOT OF QUADRATIC
 import cmath
 a=int(input('enter value of a'))
 b=int(input('enter value of b'))
 c=int(input('enter value of c'))
 def root (a,b,c):
     d=cmath.sqrt(b**2-4*a*c)
     x1=(-b+d)/2*a
     x2=(-b-d/2*a)
     return x1,x2
 root(a,b,c)1
 if (a==0 ):
     print('first value should not be zero in quadratic')
 else:
     root(a,b,c)
 result=root(a,b,c)
 print(result[0],result[1])

In [ ]:
 #FACTORIAL WITHOUT USING FUNCTION
 a=int(input('enter value'))
def factorial(a):
     result=1
     for i in range(1,a+1):
         result=result*i
     return result
factorial(a)

In [ ]:
 # Finding a**2
 a=int(input('enter value'))
 def calc(a):
     a=a**2
     return a
 calc(a)

In [ ]:
#x power y
 a=int(input('enter value'))
 b=int(input('enter value'))
 def calc(a,b):
     c=a**b
     return c

 calc(a,b)

In [ ]:
 #Multiplication Table
 a=int(input('enter value'))
 def Multiplication(a):
     for i in range (1,11):
         c=a*i
         print(a,'*',i,'=',c)
 Multiplication(a)

In [ ]:
 # TOTAL NUMBER OF NATURALNUMBERS
 a=int(input('enter value of last number'))
 def total_natural_numbers(a):
     d=0
     for i in range(1,a+1):
         print(i)
         d+=i
     return d
 total_natural_numbers(a)

In [ ]:
 #FIBANOCCI
 a=int(input('enter intial value'))
 b=int(input('enter another initial value'))
 def fibinocci(a,b):

     for i in range(4):
          next=a+b
          print(next)
          a=b
          b=next

 fibinocci(a,b)

In [ ]:
#CAPITAL
a=input('enter the value in capital')
def lower (a):
     return a.lower()
lower(a)

In [ ]:
 #LCM AND GCD
def lcm(a, b):
    return abs(a * b) // gcd(a, b)

def gcd(a, b):
    while a>0:
          b=a % b
          a=b
    return a

# Example usage
num1 = int(input('Enter the first number: '))
num2 = int(input('Enter the second number: '))

print(f"GCD of {num1} and {num2} is {gcd(num1, num2)}")
print(f"LCM of {num1} and {num2} is {lcm(num1, num2)}")

In [ ]:
 #PRIME
 def prime(a):
     for i in range(2,int(a*0.5)+1):
         a%i==0
         return False
     return True
     a=int(input('enter value'))
     print(prime(a))

 def prime_range(q,z):
    for i in range(q,z+1):

        if prime(i):
            print(i)
        else:
            pass
 q=int(input('enter value'))
 z=int(input('enter value'))
 prime range(q,z)

SyntaxError: invalid syntax (<ipython-input-21-c63b5562bcd3>, line 10)

In [ ]:
#FACTOR
a=int(input('enter value'))
def fact(a):
    for i in range(1,int(a*0.5)+1):
        if a%i==0:
            print(i)
fact(a)

enter value4
1
2

In [ ]:
#PRIMEFACTOR
 def prime(a):
     for i in range(2,int(a*0.5)+1):
         if a%i==0:
             return False
     return True
def prime_fact(b):
    for i in range(2,int(*0.5)+1):
        if b%i==0 and prime(i):
            print(i)
prime_fact(5)

In [ ]:
#BIN TO DEC,OCT
def bin_to_dec(a):
    for i in range(0, len(a), 8):
        print(int(a[i:i+8], 2))

def bin_to_oct(a):
    a = a.zfill(len(a) + (3 - len(a) % 3) % 3)
    for i in range(0, len(a), 3):
        print(int(a[i:i+3], 2))

def bin_to_hex(a):
    a = a.zfill(len(a) + (4 - len(a) % 4) % 4)
    for i in range(0, len(a), 4):
        print(int(a[i:i+4], 2))

a = input('Enter binary value: ')
bin_to_dec(a)
bin_to_oct(a)
bin_to_hex(a)

Enter binary value: 10001
17
2
1
1
1

In [ ]:
#lengh of a numver
def digit_length(a):
  b=str(abs(a))
  return len(b)
digit_length(11)
a=int(input('enter integer'))
digit_length(11)

enter integer-4

2

In [ ]:
 a=input('enter string')
 def reversed_string(a):
   b=a[::-1]
   return b
 reversed_string(a)

enter stringg

'g'

In [ ]:
 #checking a pilindrome or not
 def pilindrome(a):

   reverse_number=0
   while a>0:
       b=a%10
   reverse_number=reverse_number*10+b
   a=a//10
 if pilindrome(11):
   print('pilindrome')
 else:
   print('not pilindrome')

In [ ]:
#sum of digits of a number
def Digits_sum(a):
    count = 0
    while a > 0:
        b = a % 10
        count += b
        a = a // 10
    return count

print(Digits_sum(10))

1

In [ ]:
# fibinocci array
def array(b):
    a=[0,1]
    for i in range(2,b):
        a.append(a[i-1]+a[i-2])
    return a
b=int(input('give length of array but atlest 3:'))
array(b)

give length of array but atlest 3:4

[0, 1, 1, 2]

In [ ]:
#largest number in array
a=list(map(int,input('give elements of array by giving space:').split()))
print(a)
def largest_number(a):
    for i in a:
        b=0
        if i>b:
           b=i
    return b
largest_number(a)

give elements of array by giving space:1 3 4 7
[1, 3, 4, 7]

7

In [ ]:
# least number in an array
a=list(map(int,input('give array by spaces:').split()))
def smallest(a):
    b=999999
    for i in  a:
        if i<b:
            b=i
    return b
smallest(a)

give array by spaces:1 4 6 8

1

In [ ]:
# reversing the elements in a array
a=int(input('enter number of elements'))
c=[]
for i in range(a):
    b=int(input('enter the element:'))
    c.append(b)
print(c)
def reverse_array(c):

    f=0
    l=len(c)-1
    while f<l:
      c[f],c[l]=c[l],c[f]
      f+=1
      l-=1
    return c
reverse_array(c)

enter number of elements2
enter the element:1
enter the element:2
[1, 2]

[2, 1]

In [ ]:
#insert an element in an array
a=int(input('enter element:'))
index=(int(input('enter the index of element:')))
array=[]
def insert(index,a):

   array.insert(index,a)
   return array
insert(index,a)
print(array)

enter element:1
enter the index of element:4
[1]

In [ ]:
#insert an element in an array
a=int(input('enter element:'))

array=[1,3,4]
def remove(a):

   array.remove(a)
   return array
remove(a)
print(array)

enter element:1
[3, 4]

In [ ]:
#Transpose matrics
def Traspose_matrix(matrix):
    transpose=[]
    for j in range(len(matrix[0])):
        row=[]
        for i in range(len(matrix)):
            row.append(matrix[i][j])
        transpose.append(row)
    return transpose


first_row=list(map(int,input('enter first row with   spaces:').split()))
second_row=list(map(int,input('enter second row with   spaces:').split()))
matrix=[first_row,second_row]
print(matrix)
Traspose_matrix(matrix)

enter first row with   spaces:1 2
enter second row with   spaces:4 8
[[1, 2], [4, 8]]

[[1, 4], [2, 8]]

In [ ]:
 # duplicate removal
 a=list(map(int,input('enter the list with spaces').split()))

 def duplicate_removal(a):
     b=[]
     for i in a:

         if i not in b:
            b.append(i)
     return b
 print(f'original list{a}')
 print(f'non duplicatelist{duplicate_removal(a)}')

enter the list with spaces1 4 4
original list[1, 4, 4]
non duplicatelist[1, 4]

In [ ]:
#linear search of an array
 a=list(map(int,input('enter the list with spaces').split()))
 target=int(input('enter target'))

 def linear_search(target):
     for index,i in enumerate(a):
       if i==target:
           print(f'i found {i} at index {index}')
       else('not found the target')
 linear_search(target)

enter the list with spaces1 4 6 8
enter target8
i found8 at index 3

In [ ]:
 #binary search of an array
 a=list(map(int,input('enter the list with spaces: ').split()))
 a.sort()
 target=int(input('enter target: '))
 def binarysearch(target):
     i=0
     l=len(a)-1

     while i<=l:
         mid=(i+l)//2
         if a[mid]==target:
             return mid
         elif a[mid]>target:


             l=mid-1
         else:
           i=mid+1
     return -1
 result=binarysearch(target)
 if result !=-1:
     print(f'target found at{result}')
 else:
     print('target not found')

enter the list with spaces: 1 2 3 4
enter target: 1
target found at0

In [ ]:
# array splitting
a=[1,2,3,4,5,6,7]
def array_split(a):
    l=len(a)-1
    mid=len(a)//2
    print('first_half=a[0:mid]')
    print('second_half=a[:l]')

In [ ]:
# matrix_addition
a = [[1, 2], [3, 4]]
b = [[5, 6], [7, 8]]


def matrix_addition(a, b):
    addition_matrix = []

    if len(a) == len(b) and len(a[0]) == len(b[0]):
        for i in range(len(a)):
            row = []
            for j in range(len(a[0])):
                row.append(a[i][j] + b[i][j])
            addition_matrix.append(row)

        return addition_matrix


print(matrix_addition(a, b))

[[6, 8], [10, 12]]

In [ ]:
#sorting using array
def sort(a):
    for i in range(len(a)-1):
        for i in range(len(a)-1-i):
            if a[i]>a[i+1]:
                a[i],a[i+1]=a[i+1],a[i]
    return a
print(sort(a))
a=[1,2,8,4]

[1, 2, 4, 8]

In [ ]:
 # factorial using recursion
 def factorial(a):
     if a==0 or a==1:
         return 1

     else:
         return a*factorial(a-1)
 print(factorial(4))

24

In [ ]:
 # fibinocci using recursion
 def fibinocci(a):
     if a<=1:
        return a
     else:
        return fibinocci(a-1)+fibinocci(a-2)
 for i in range(10):
     print(fibinocci(i))

0
1
1
2
3
5
8
13
21
34

In [ ]:
 # sum of all numbers using recursion
 def sum_num(a,n):
     if n==0:
         return 0
     else:
         return a[n-1]+sum_num(a,n-1)

 a=[1,4,8,8]
 n=len(a)
 print(sum_num(a,len(a)))

21

In [ ]:
# reverse the sentence
def reverse_element(a):
    word=a.split()
    if len(word)==1:
        return word[0]
    else:
        return  reverse_element(' '.join(word[1:]))+' '+word[0]
a='gov dhan'
reverse_element(a)

'dhan gov'

In [ ]:
 #power using recursion
 def power(a,b):
     if b==0:
         return 1
     else:
         return a*power(a,b-1)
 print(power(2,3))

8

In [ ]:
 #hanoi problem using recursion
 def hanoi(n,source,d,a):
     if n==1:
         print(f'disk1 from{source} to {d}')
         return
     hanoi(n-1,source,a,d)
     print(f'disk {n} from{source}to{d}')
     hanoi(n-1,a,d,source)
 hanoi(4,'A','C','B')

disk1 fromA to B
disk 2 fromAtoC
disk1 fromB to C
disk 3 fromAtoB
disk1 fromC to A
disk 2 fromCtoB
disk1 fromA to B
disk 4 fromAtoC
disk1 fromB to C
disk 2 fromBtoA
disk1 fromC to A
disk 3 fromBtoC
disk1 fromA to B
disk 2 fromAtoC
disk1 fromB to C

In [ ]:
#finding exponent
def exponent(a,b):
    if b==1:
        return 0
    else:
        return 1+exponent(a,b//a)
exponent(2,64)

6

In [ ]:
#finding gcd
def Gcd(a,b):
    if b==0:
         return a
    else:
        return Gcd(b,a%b)
print(Gcd(1,2))

1

In [ ]:
#counting blank,tab,newline in a string
print('give double enter to stop para')
def count():
    blank=0
    newline=0
    tab=0
    while True:
        line=input('enter the line')
        if line=="":
            break
        newline +=1

        tab+=line.count('\t')
        blank=line.count(' ')

    return blank,newline,tab
count()

give double enter to stop para
enter the linehi
enter the line

(0, 1, 0)

In [ ]:
def check_pilindrome(a):
    i=0
    l=len(a)-1
    while i<l:
        if a[i]!=a[l]:
            print('false')
            return

        i+=1
        l-=1
    print('true')
a='TaaT'
check_pilindrome(a)

true

In [ ]:
#name to ascii value
def name_to_ascii(name):
    for char in name:
        print(ord(char),end=' ')
name_to_ascii('name')

110 97 109 101

In [ ]:
a='gova'
def string_length(a):
    count=0
    while a[count:]:
         count+=1
    return count
string_length('gov')

3

In [ ]:
 def compare(a,b):
    if a==b:
        print('they are same')
    else:
        print('they are not same')
 compare('yh','yh')

they are same

In [ ]:
#copying string
def copy(a):
    b=[]
    for char in a:
       b.append(char)
    return ''.join(b)
copy('hello')

'hello'

In [ ]:
#string concatination
def concat(a,b):
  result=""
  for char in a:
    result+=char
  for char in b:
    result+= char
  return result

a='hello'
b='word'
concat(a,b)

'helloword'

In [ ]:
import re
def pattern(text):
    return re.sub(r'\d+','',text)

text='hello 1 2 3'
pattern(text)

'hello   '

In [ ]:
def vowel(a):
    a.lower()
    for letter in a:
        if letter in 'aeiou':
            print(letter)
text='vowel'
vowel(text)

o
e

In [ ]:
def sort_string(a):
    a=list(a)
    for i in range(len(a)):
        for i in range(len(a)-i-1):
            if a[i]>a[i+1]:
                a[i],a[i+1]=a[i+1],a[i]
    return a

string='hello doc'
sort_string(string)

[' ', 'c', 'd', 'e', 'h', 'l', 'l', 'o', 'o']

In [ ]:
 def sub_strsearch(text,target):
     index =text.find(target)
     return index
 text='hai ov'
 target='ov'
 sub_strsearch(text,target)

4

In [ ]:
 def freq_char(a,target):
     list=0
     for char in a:
         if char==target:
             list+=1
     return list
 text='oho raje'
 freq_char(text,'o')

2

In [ ]:
def alpha(a):
    list=[]
    for i in a:
        if i.isalpha():
            list.append(i)
    print(''.join(list))
alpha('gello!1248')

gello

In [ ]:
 #reverse a sring
 def back(a):
      a=list(a)
      f=a[0]
      l=a[len(a)-1]
      while f<l:
          a[f],a[l]==a[l],a[f]
          a+=1
          l-=1
      print(''.join(a))
 a="gova"
 back(a)

gova

In [ ]:
 #writing on file
 with open('file.txt','w') as file:
      print("hello\n how ")
      print('hai')
 with open('file.txt','r')as file:
      content=file.readlines()
      print('content')
 for line in content:
     print(line.strip())

hello
 how
hai
content

In [ ]:
#employee file
def addemployee(name,id):
    with open('employee.txt','w') as file:
        print(f'name:{name},\n id{id}')
def display():
    with open('employee.txt','r') as file:
        content=file.readlines()
        for line in content:
            print(line.strip())
addemployee('prust',78)
display()

name:prust,
 id78

In [ ]:
def copy(file1,file2):
    with open(file1,'rb') as source_file:
        content=source_file.read()
    with open(file2,'wb') as target_file:
        target_file.write(content)
        return f"File copied from '{file1}' to '{file2}'."
copy('file.txt','employee2.txt')

"File copied from 'file.txt' to 'employee2.txt'."

In [ ]:
input_file_pat='file.txt'
output_file_pat='file1.txt'
with open(input_file_pat ,'r') as source:
     content =source.read ()
content=content.upper()
with open(output_file_pat,'w') as dest:
     dest.write(content)

In [ ]:
e=[]
od=[]
with open('file.txt','r') as file:
    num_str = file.read().split(',')  # Split numbers as strings
    num = [int(x) for x in num_str]
for i in num:
    if i%2==1:
        od.append(i)
    else:
        e.append(i)
with open('file1.txt','w') as even_f:
     even_f.write(','.join(map(str, od)))
with open('file2.txt','w') as odd_f:
     odd_f.write(','.join(map(str,e)))

In [ ]:
with open('file.txt','r') as file:
     line=file.readline()
for l in line:
   print(l.strip())

w
r
i
t
e

c
o
d
e